APP_NAME=template-service
APP_PORT=3000
API_PREFIX=api/v1
CORS_ORIGINS=*
SWAGGER_ENABLED=true

POSTGRES_PORT=5432
POSTGRES_DB=template_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_SCHEMA=public
DB_SYNCHRONIZE=false
DB_LOGGING=false
